# Force LF line endings for all text files
* text=auto eol=lf
*.bat eol=crlf

*.css linguist-detectable
*.html linguist-detectable
*.js linguist-detectable
*.json linguist-detectable
*.jsonc linguist-detectable
*.json5 linguist-detectable
*.mjs linguist-detectable
*.svg linguist-detectable
*.ts linguist-detectable
*.yaml linguist-detectable
*.md linguist-documentation

docs/** linguist-documentation
dist/** linguist-generated

