body {
  max-width: 400px;
  margin: 40px auto;
  font: normal 12px/20px "Helvetica Neue", sans-serif;
}

button {
  border-radius: 5px;
  background: #54af29;
  border-color: #2c7505;
  color: #fff;
  width: 145px;
  margin: 0 10px;
  font-size: 25px;
  text-shadow: 1px 1px -1px #2c7505;
  padding: 10px;
}

button.done { background: #2c7505; }
button:hover { background: #2c7505; }

#buttons {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  margin-top: 20px;
}

label.single {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  margin-top: 20px;
}

h1 { margin: 5px 0 0 0; }
h2 { margin: 10px 0 0 0; }
p  { margin: 5px 0 0 0; }

#user {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  margin-top: 20px;
  background: #ececec;
  padding: 1px 10px;
  border-radius: 8px;
}

#error {
  display: none;
  margin-top: 20px;
  text-align: center;
}

#userdetail, #useravatar {
  padding: 10px;
}

#avatar {
  height: 80px;
  width: 80px;
  object-fit: cover;
  border: 1px solid #ccc;
  border-radius: 40px;
}

footer {
  margin-top: 20px;
  text-align: center;
  color: #666;
}
footer img {
  vertical-align: middle;
  padding: 0 8px;
}
